<main class="container" *ngIf="brewery">
  <div class="brewery-detail">
    <h2>{{ brewery.name }}</h2>
    <p>Type: {{ brewery.breweryType }}</p>
    <p>Address: {{ brewery.address1 }}, {{ brewery.city }}, {{ brewery.state }}, {{ brewery.postalCode }}</p>
    <p>Country: {{ brewery.country }}</p>
    <p>Phone: {{ brewery.phone }}</p>
    <p>Website: <a [href]="brewery.websiteUrl" target="_blank">{{ brewery.websiteUrl }}</a></p>
    <div class="buttons">
      <button (click)="goBack()" class="back-btn">Back</button>
      <button *ngIf="isFavorite; else addFavorite" (click)="removeFromFavorites()" class="remove-favorite">Remove from
        Favorites</button>
      <ng-template #addFavorite>
        <button (click)="addToFavorites()" class="add-favorite">Add to Favorites</button>
      </ng-template>
    </div>
  </div>
</main>