<div *ngIf="searchType === 'name'" class="search-container">
  <label for="name">Search by Name:</label>
  <input type="text" id="name" [(ngModel)]="name" placeholder="Enter brewery name" />
  <button (click)="search()">Search</button>
</div>

<div *ngIf="searchType === 'criteria'" class="filter-container">
  <label for="city">City:</label>
  <input type="text" id="city" [(ngModel)]="city" placeholder="Enter city" />

  <label for="state">State:</label>
  <input type="text" id="state" [(ngModel)]="state" placeholder="Enter state" />

  <label for="breweryType">Brewery Type:</label>
  <select id="breweryType" [(ngModel)]="breweryType">
    <option *ngFor="let type of (breweryTypes | keyvalue)" [value]="type.value">
      {{ type.value }}
    </option>
  </select>

  <button (click)="search()">Filter</button>
</div>

<app-brewery-list [breweries]="breweries" [favoriteIdsSet]="favoriteIdsSet"
  (brewerySelected)="onBrewerySelected($event)" (addFavorite)="onAddFavorite($event)"
  (removeFavorite)="onRemoveFavorite($event)">
</app-brewery-list>
